<button (click)="createNewProduct()">Create</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
    (deleteProduct)="onDeleteProduct($event)"
  ></app-product>
  <div class="product-detail" [class.active]="showProductDetail">
    <div *ngIf="productChosen">
      <button (click)="toggleProductDetail()">Close</button>
      <h1>{{ productChosen.title }}</h1>
      <app-img
        *ngIf="productChosen.images.length > 0"
        [img]="productChosen.images[0]"
      ></app-img>
      <p>{{ productChosen.description }}</p>
      <button (click)="updateProduct()">Edit</button>
      Contenido
    </div>
  </div>
</div>
